header {
    position: fixed;
    background-color: white;
}

.headerelement {
    margin-top: 1.5rem;
}

nav,
#anunci1,
#anunci2 {
    display: none;
}

input {
    width: 100%;
}

.row {
    text-align: center;
}

.imatgeresultat {
    float: left;
}

.menu {
    border-style: solid;
    border-width: 1px;
}

button {
    border-width: 1px;
}

h2,
#anunci3 {
    border-style: solid;
    border-width: 1px;
}

#ofertes {
    margin-top: 0px;
}

#copyright {
    content: "\a";
    white-space: pre;
    display: flex;
    justify-content: center;
}

#resultats {
    width: fit-content;
}

#detall p,
#resultats p,
#detall .preu,
#resultats .preu,
.retorn {
    text-align: left;
}

.retorn {
    color: cadetblue;
}

#detall button,
#resultats button {
    float: right;
}


#tosignup {

    border-style: solid;
    border-width: 1px;
}

.signup {
    margin-top: 1rem;
}

#submit {
    margin-top: 1rem;

}

.login {
    margin-top: 0.5rem;
    background-color: antiquewhite;
}

.toindex {
    display: block;
}

@media only screen and (max-width: 768px) {

    .topnav {
        background-color: white;
    }



    #oferta2,
    #oferta3,
    #oferta4,
    #paquet2,
    #paquet3,
    #paquet4 {
        margin-bottom: -30px;
    }

    #oferta1 img {
        display: none;
    }

    #oferta2 img,
    #oferta2 p,
    #oferta2 div {
        display: none;
    }

    #oferta3 img,
    #oferta3 p,
    #oferta3 div {
        display: none;
    }

    #oferta4 img,
    #oferta4 p,
    #oferta4 div {
        display: none;
    }

    .link button {
        float: right;
        margin-top: 2rem;
    }

    #paquet1 img {
        display: none;
    }

    #paquet2 img,
    #paquet2 p {
        display: none;
    }

    #paquet3 img,
    #paquet3 p {
        display: none;
    }

    #paquet4 img,
    #paquet4 p {
        display: none;
    }

    #paquet5,
    #paquet6,
    #paquet7,
    #paquet8 {
        display: none;
    }


    .footer p {
        display: none;
    }

    .footer h3,
    .icones {

        display: inline;
    }

    #dadescontacte,
    #segueixnos,
    #politica {
        border-style: solid;
        border-width: 1px;
    }


    .footer {
        margin-bottom: auto;
    }

    #resultats .second {
        display: none;
    }

    #resultats .comprar {
        display: none;
    }


}


@media only screen and (min-width: 768px) {



    #anunci1,
    #anunci2 {
        display: flex;
    }

    #anunci3 {
        display: none;
    }

    /*
    i.fa-solid, .articles h1 {
        display:none;
    }
*/
    h2 {
        border-style: none;

    }




    .topnav {
        display: flex;
        justify-content: space-between;
        background-color: antiquewhite;
    }

    .topnav input {
        flex-basis: 40%;
        background-color: salmon;
    }

    nav {
        display: block;
        /* justify-content: space-between; */
        /*space-between;*/
        /* border-style: solid;
    border-width: 1px; */
        margin-top: 0.5rem;
        padding-bottom: 0.2rem;
    }

    nav a {
        display: flex;
        justify-content: space-between;

    }

    .anunci {
        display: flex;
        /*justify-content: flex-end; */
        justify-content: space-between;
        width: 100%;
        height: 15rem;
        margin-top: 0.5rem;
        border-style: solid;
        border-width: 1px;
    }

    .anunci img {
        width: 80%;
        height: 100%;
        object-fit: contain;
        padding-right: 10px;
    }

    .call {
        position: relative;
        top: 60%;
        /* right: 10%; */
        left: 215%;
        margin-bottom: auto;
        padding: 0.7rem;
        border: 1px solid;
    }

    #ofertes,
    #paquets {

        margin-top: -70px !important;

    }



    #ofertes .articles {
        /* #ofertes .articles  */
        margin-top: 0.5rem;
        border-style: solid;
        border-width: 1px;
    }

    /*
.articles {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}*/


    #paquets {
        /*align-content: stretch;*/
        /* margin-top: 0.5rem;*/
        margin: auto;

    }


    .link {
        content: "\a";
        white-space: pre;
        display: flex;
        justify-content: center;
    }

    .link button {
        margin-top: 0.3rem;
    }

    .box {
        /*width:16%;
	 margin-left:9%;*/
        /* display: flex;
    width: 24%;
    justify-content: space-evenly;*/
        border-style: solid;
        border-width: 1px;
    }


    .anunci {
        display: flex;
        justify-content: center;
    }

    .anunci article {
        align-self: flex-end;
        padding-bottom: 3%;
    }


    #footer {
        margin-top: -70px;
        /* display: flex;
    justify-content: space-evenly; */
        border-style: solid;
        border-width: 1px;
    }


    .llegirmes {
        display: none;
    }



    .noindex {
        margin-top: 5rem;
    }



}